@import '../scss/vars.scss';

.breadcrupms {
    margin-bottom: 24px;
}

.breadcrumps {
    &__list-item {
        display: inline-block;
        position: relative;
        margin-right: 16px;
        font-size: 14px;
        line-height: 24px;
        color: $light-blue;

        &::after {
            content: '/';
            position: absolute;
            right: -11px;
        }

        &::after:last-child {
            display: none;
        }
    }
}
